body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.hamburger-one {
  display: none;
}
.hamburger-two {
  display: none;
}
.logo h1 {
  color: var(--blue, #006dab);
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.nav-text {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.nav-text p {
  color: var(--text, #373737);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nav-text-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}
.cart {
  display: flex;
}
.user {
  margin-left: 15px;
}
.circle {
  margin: -6px 0px 20px -8px;
  width: 14px;
  height: 13.263px;
  flex-shrink: 0;
  background-color: #ff7a00;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
